arxiv>=2.1.0
biopython>=1.83
langchain>=0.2.6
langchain-core>=0.2.6
langchain-text-splitters>=0.2.0
langchain-astradb>=0.3.3
langchain-openai>=0.1.14
paperscraper>=0.2.11
pypdf>=4.2.0
python-dotenv>=1.0.1
requests>=2.31.0
